@media (max-width: 1279px) {
    section {
        margin-top: 100px;
    }

    section.cryst,
    footer {
        margin-top: 80px;
    }

    section.microshift,
    section.dispersion {
        margin-top: 60px;
    }

    .title {
        font-size: 40px;
    }

    .microshift__wrapper {
        min-height: 1000px;
    }

    .microshift__grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .microshift__text {
        grid-column: 3 / 4;
    }

    .microshift__title {
        grid-column: 2 / 4;
    }

    .microshift__title .line-2 {
        max-width: unset;
    }

    .microshift__title {
        display: block;
    }

    .microshift__title .line {
        display: inline;
    }

    .microshift__slider {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .microshift__slider-img {
        width: 100%;
        max-width: 500px;
    }

    .dispersion__wrapper {
        min-height: 1000px;
    }

    .dispersion__top-wrapper {
        gap: 50px;
    }

    .dispersion__grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .dispersion__first-text {
        grid-column: 3 / 5;
        max-width: 230px;
    }

    .dispersion__second-text {
        grid-column: 4 / 6;
        max-width: 230px;
    }

    .dispersion__shard:first-child {
        top: 33%;
        left: 37%;
    }

    .dispersion__shard:nth-child(2) {
        top: 58%;
        left: 8%;
    }

    .dispersion__shard:nth-child(3) {
        top: 6%;
        left: 61%;
    }

    .dispersion__shard:nth-child(4) {
        top: 52%;
        left: 84%;
    }

    .dispersion__shard:nth-child(5) {
        top: 55%;
        left: 46%;
    }

    .dispersion__shard:nth-child(6) {
        top: 31%;
        left: 6%;
    }

    .dispersion__shard:nth-child(7) {
        top: 35%;
        left: 59%;
    }

    .dispersion__shard:nth-child(8) {
        top: 45%;
        left: 18%;
    }

    .cryst__subwrapper {
        flex-direction: column;
    }

    .cryst__title {
        grid-row: 2;
    }

    .cryst__text {
        grid-row: 1;
        max-width: 354px;
    }

    .cryst__label-wrapper {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 15px 0 15px;
    }

    .hero__heading {
        width: 100%;
        align-items: flex-start;
    }

    .title {
        font-size: 30px;
        width: 100%;
    }

    .hero__title {
        text-align: left;
    }

    .text {
        font-size: 14px;
    }
    
    .label {
        font-size: 12px;
    }

    .hero__descr {
        text-align: left;
    }

    .line {
        display: block;
    }

    .hero__title .line.line-2 {
        text-align: right;
    }
    
    .label-desktop {
        display: none;
    }

    .label-mobile {
        display: block;
    }

    .hero__crystal-fallback {
        min-width: 200px;
    }

    .hero__model {
        width: 300px;
    }

    .hero__wrapper {
        /* min-height: 400px; */
        padding: 15px 0 15px 0;
    }

    .hero__subwrapper {
        justify-content: center;
    }

    .hero__link {
        font-size: 18px;
    }

    .hero__label-mobile-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .microshift__wrapper {
        min-height: 675px;
    }

    .microshift__grid {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .label-wrapper-top {
        flex-direction: column;
        gap: 7px;
    }

    .bottom-wrapper {
        gap: 30px;
    }

    .dispersion__wrapper {
        min-height: 675px;
        padding: 15px 0 15px 0;
    }

    .dispersion__grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 15px;
    }

    .dispersion__first-text {
        grid-column: 1 / 5;
        max-width: 290px;
    }

    .dispersion__second-text {
        grid-column: 2 / 5;
        max-width: 215px;
    }

    .dispersion__shard:first-child {
        width: 63px;
        top: 43%;
        left: 30%;
    }

    .dispersion__shard:nth-child(2) {
        width: 73px;
        top: 37%;
        left: 74%;
    }

    .dispersion__shard:nth-child(3) {
        width: 40px;
        top: 42%;
        left: 8%;
    }

    .dispersion__shard:nth-child(4) {
        width: 35px;
        top: 49%;
        left: 76%;
    }

    .dispersion__shard:nth-child(5) {
        width: 92px;
        top: 55%;
        left: 44%;
    }

    .dispersion__shard:nth-child(6) {
        width: 47px;
        top: 29%;
        left: 2%;
    }

    .dispersion__shard:nth-child(7) {
        width: 41px;
        top: 37%;
        left: 54%;
    }

    .dispersion__shard:nth-child(8) {
        width: 53px;
        top: 56%;
        left: 2%;
    }

    .cryst__text {
        grid-column: 1 / -1;
    }

    .cryst__label-wrapper {
        margin-top: 10px;
    }

    .footer__crystal {
        width: 300px;
    }

    .footer__label-wrapper {
        flex-direction: column;
        gap: 7px;
    }

    .footer__title {
        text-align: left;
    }
}